<h1><%=@kitten.name%>'s Page</h1>

<ul><b>Name:</b> <%=@kitten.name%></ul>
<ul><b>Age:</b><%=@kitten.age%></ul>
<ul><b>Cuteness:</b><%=@kitten.cuteness%></ul>
<ul><b>Softness:</b><%=@kitten.softness%></ul>

<p><%= link_to "Edit", edit_kitten_path(@kitten)%></p>